
header {
    z-index: 100;
    height: 75px;
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: white;
}

#intro {
    position: relative;
    bottom: -150px;
    height: 400px;
}
                   
#flex-container {
    display: flex;
    justify-content: space-between;
}

#nav-bar {
    background-color: green;
    border-radius: 15px;
    max-width: 550px;
    width: 50vw;
}

.nav-link {
    margin-right: 5px;
    font-size: 1.2em;
    color: white;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: 0px;
}

a {
    color: white;
    
}
                                        /*EMAIL Y COSAS DE ADENTRO*/
.form-container {
    position: relative;
    text-align: center;
}

h1 {
    font-size: 3em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: green;
}

form p {
    font-size: 1.5em;
}

form {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

input {
    margin-left: auto;
    margin-right: auto;
}

#email {
    border-color: lightgreen;
    border-width: 4px;
    border-radius: 5px;
    height: 24px;
    width: 300px;
}

#submit {
    border-radius: 2px;
    height: 30px;
    width: 140px;
    background-color: lightgreen;
}

#header-img {
    position: fixed;
    width: 30vw;
    height: 25vw;
    max-width: 420px;
    max-height: 350px;
}

#img-container {
    height: 100%;
}

body, header {
    margin: auto;
    background-color: #eee;
}

#features {
    height: 600px;
}

#aboutus {
    height: 500px;
}

#shopping {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}

.center {
    position: relative;
    bottom: -200px;
    max-width: 1000px;
    width: 100%;
    margin: auto;
    text-align: center;
}

.ftrs {
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 500px;
    position: relative;
    left: -50px;
}

iframe {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 100px;
}

.grid {
    display: flex;
    flex-direction: row;
    text-align: left;
    position: relative;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    position: relative;
    right: -87px;
}

#gloves, #rotavap, #compound {
    max-width: 120px;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5em;
    color: green;
    position: relative;
    bottom: -10px;
}

.ftrs p {
    font-size: 1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    top: -20px;
}

.buy {
    border-color: green;
    border-width: 5px;
    border-style: solid;
    border-radius: 20px;
    width: 280px;
    height: 310px;
    margin: 10px;
}

#product {
    max-width: 80%;
}

                                                             /* PIE DE PÁGINA */
.foot {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: right;
    padding: 20px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: lightgrey;
    border-radius: 10px;
    width: 920px;
    height: 50px;
}

footer div ul {
    font-size: 1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 30px;
    padding: 0px;
    bottom: -10px;
}

footer div ul li {
    padding: 0 15px;
}

footer div p {
    font-size: 1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
}

#submit {

}
